{% extends 'base.html' %}

{% block content %}
<h1>Game {{ player.game.name }}</h1>
{% if is_out %}
<p> You're out of the game! </>
{% else %}
  {% if player.ziel.name %}
    <p>Name of your target: {{ player.ziel.name  }}</p>
  {% endif %}

{% comment %} {% if player.ziel.picture.url %}
  <p>Picture of your target</p>
  <img src="{{ player.ziel.picture.url }}" alt="Picture of {{  player.ziel.name }}"/>
{% endif %} {% endcomment %}


  <p>Your mission :{{ player.mission }}</p>

  <p> Enter the player code if you have succeeded in your mission </p>
  <form method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Enter"/>
  </form>

<p id="player_code" style="border: solid #444444;">
  If you were targeted: click here to reveal your player code during a short time
</p>
<script>
  let player_code = document.querySelector('#player_code')
  player_code.addEventListener("click", toggle)

  function toggle(){
    let original_text = player_code.innerHTML
    player_code.innerHTML = {{ player.player_code }}

    setTimeout(() => {player_code.innerHTML = original_text}, 3000)
  }
</script>
{% endif %}
{% endblock content %}